package {{packageDomain}}.types

import {{packageDomain}}.types.naming.NamedForeignKey

{{#schema}}
enum class {{titleName}}ForeignKey: NamedForeignKey {
    {{#table}}
    {{#outboundReferenceField}}
    {{pSchemaConstantName}}__{{pTableConstantName}}__FK__{{constantName}},
    {{/outboundReferenceField}}
    {{/table}}
}
{{/schema}}
