package {{packageDomain}}.types

import {{packageDomain}}.types.naming.NamedResourceKey

{{#schema}}
enum class {{titleName}}ResourceKey: NamedResourceKey {
    {{#table}}
    {{pSchemaConstantName}}__{{constantName}},
    {{/table}}
}
{{/schema}}
